{% extends "layouts/base.html" %}

{% block title %} Tables {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

  <div class="content">
    <div class="row">
      <div class="col-md-12">
        <div class="card ">
          <div class="card-header">
            <h4 class="card-title"> Value Table</h4>
          </div>
          <div class="card-body">
              <table class="table tablesorter " id="">
                <thead class=" text-primary">
                  <tr>
                    <th>Date</th>
                    <th>Time</th>
                    <th>Home Team</th>
                    <th>Away Team</th>
                    <th>Max Value</th>
                    <th>Max Value Result</th>
                  </tr>
                    {% for item in data %}
                        <tr>
                            <td>{{ item.Date }}</td>
                            <td>{{ item.Time }}</td>
                            <td>{{ item.HomeTeam }}</td>
                            <td>{{ item.AwayTeam }}</td>
                            <td>{{ item.Max_Value }}</td>
                            <td>{{ item.Max_Value_Result }}</td>
                        </tr>
                    {% endfor %}
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
